body {
  font-family: sans-serif;
}

input,
select {
  outline: solid 1px rgb(200, 200, 200);
  padding: 5px;
  border: rgb(230, 230, 230) solid 1px;
  border-radius: 4px;
  margin-left: 0.5rem;
  white-space: nowrap;
  width: 50%;
}

select {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

.card-image {
  border-radius: inherit;
  overflow: hidden;
  width: 100%;
}

.card-model {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 0.5rem;
}

.card-title span {
  font-weight: 200;
  margin: 0 auto;
  padding: 4px;
  width: auto;
}

.card-marks {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  list-style-type: none;
  margin: 0 auto;
  position: relative;
  padding: 0.5rem;
  margin-top: 2rem;
}

.card-description {
  padding: 1rem;
  box-shadow: 1px 1px rgb(190, 190, 190);
  margin-top: 1rem;
  border-radius: 5px;
}

.card-marks li {
  text-shadow: 2px 2px rgb(190, 190, 190);
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 1px 1px rgb(190, 190, 190);
  border-bottom: solid 1px rgb(190, 190, 190);
}

.card-description p {
  line-height: 1.5rem;
}

.card-title {
  text-align: center;
  display: block;
  margin: 0 auto;
}
/* 
.card-wrapper button{
  margin: auto;
  top: auto;
  width: auto;
  margin-bottom: 1rem;
  left: auto;
  right: auto;
  bottom: auto;
  position:absolute;
  align-items: center;
} */

.card-wrapper {
  width: 60%;
  margin: auto;
  position: relative;
}

.btn-phone-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  align-items: center;
}

.btn-phone-wrapper button:hover{
  background-color: #00FF40;
  cursor: pointer;

}

.btn-phone-wrapper button {

  justify-content: center;
  align-items: center;
  text-align: center;
  
  width: 40%;
  display: flex;
  gap: 4px;
  margin: auto;
  position: absolute;
  text-align: center;
  bottom: 3px;
  padding:0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 10px;
  border: 0;
  background-color:#4CBB17;
}

.btn-content text{
  margin-top: 2px;
}
.btn-content{
  display: flex;
  justify-content: center;
  gap: 2px;

}

.phone-icon{
  margin: auto;
  width: 1.1rem;
  margin-right: 2px;
  padding: 0;
  margin-bottom: 1px;
}

.btn-phone {
  display: flex;
  background-color: rebeccapurple;
  justify-content: center;
  width: 100%;
  position: absolute;
  margin: auto;
}

.car-card {
  border-radius: 7px;
  position: relative;
  width: 100%;

  overflow-y: scroll;
  height: 30rem;
  margin: auto;
  background-color: rgb(235, 235, 235);
}

.card-content {
  padding: 1rem;
}

.card-image img {
  width: 100%;
  overflow: hidden;
}

.mini-carland {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.item-model {
  margin: 0 auto;
}

.item-image {
  width: 30%;
  border-radius: inherit;

  overflow: hidden;
  margin-bottom: 0;
}

.item-title {
  margin: 0 auto;
  margin-bottom: 1.2rem;
  text-align: center;
}

.cars-item {
  display: flex;
  background-color: rgb(243, 243, 243);
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  justify-content: space-between;
  height: 8rem;
  border-radius: 7px;
  margin-bottom: 0.5rem;
}

.cars-item:hover {
  cursor: pointer;
  transform: scale(1.04);
  transition: all 0.5s;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 8px;
  border-radius: 4px;
  margin-top: 2rem;
  background-color: rgb(200, 200, 200);
  border: 0;
}

.btn:hover {
  background-color: rgb(210, 210, 210);
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.2s;
}

.form-add-car {
  display: block;
  width: 50%;
  height: 27rem;
  padding: 1rem;
  border-radius: 7px;
  margin: 0 auto;
  margin-top: 1rem;
  margin-right: 2rem;
  padding-top: 0;
  background-color: rgb(235, 235, 235);
}

.input-price {
  text-align: center;
  margin: auto;
  display: flex;
  margin-top: 1.5rem;
}

.input-madein {
  margin-top: 1.5rem;
  display: flex;
  white-space: nowrap;
}

.input-description {
  text-align: start;
  white-space: nowrap;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.input-description textarea {
  width: 50%;
  outline: solid 1px rgb(200, 200, 200);
  padding: 5px;
  border: rgb(230, 230, 230) solid 1px;
  border-radius: 4px;
  margin-left: 0.5rem;

  height: 5rem;
}

.input-price label {
  white-space: nowrap;
}
.input-price input {
  outline: solid 1px rgb(200, 200, 200);
  padding: 5px;
  border: rgb(230, 230, 230) solid 1px;
  border-radius: 4px;
  margin-left: 0.5rem;
}

.input-model {
  text-align: center;
  width: 100%;
  margin: auto;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.input-color {
  display: flex;
  text-align: center;
  margin: auto;
  margin-top: 1.5rem;
}

.input-color label {
  white-space: nowrap;
}

.input-color select {
  margin-left: 0.5rem;
  padding: 5px;
  outline: solid 1px rgb(200, 200, 200);
  border: rgb(230, 230, 230) solid 1px;
  border-radius: 4px;
}

.input-model label {
  margin-right: 0.5rem;
  white-space: nowrap;
}

.input-model input {
  outline: solid 1px rgb(200, 200, 200);
  padding: 5px;
  border: rgb(230, 230, 230) solid 1px;
  border-radius: 4px;
}

.input-company label {
  white-space: nowrap;
}

.input-company input {
  outline: solid 1px rgb(200, 200, 200);

  padding: 5px;
  border: rgb(230, 230, 230) solid 1px;
  border-radius: 4px;
}

.input-company label {
  white-space: nowrap;
  margin-right: 0.5rem;
}

.input-company {
  text-align: center;
  display: flex;
  margin-top: 1.5rem;
  margin: auto;
}

.item-content {
  display: block;
  margin: auto;
  width: 100%;
}

.item-marks {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  align-items: end;
  justify-content: center;
  font-size: 14px;
  gap: 1.5rem;
  margin: auto;
}

.item-marks span {
  background-color: rgb(212, 209, 209);
  font-weight: 600;
  padding: 6px;
  border-radius: 4px;
  width: auto;
  font-size: smaller;
  white-space: nowrap;

  height: 1rem;
}

.item-image img {
  position: relative;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.cars-list {
  width: 100%;
  height: 30rem;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.3rem;
  border-radius: 15px;
  background-color: rgb(235, 235, 235);
}

.media-list li {
  margin-top: 2rem;
  list-style-type: none;
  display: grid;
  font-size: auto;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
}

.seller-info-content{
  margin: auto;
}
.media-list{

  margin: auto;
  

}

.seller-info-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200%;
}



.seller-info{
  bottom: 50%;
  box-shadow: 6.8px 13.6px 13.6px hsl(0deg 0% 0% / 0.29);
  border-radius: 8px;
  top: 50% ;
  width: 35%;
  display: flex;
  align-items: center;
  height: 50%;
  background-color:rgb(200, 200, 200) ;
  margin: auto;
  position: absolute;

}