body {
  font-family: sans-serif;
}

.mini-carland{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  border: 1px solid black;
}

.item-model {
  margin: 0 auto;
}

.item-image {
  width: 30%;
  border-radius: inherit;
  height: 100%;
  overflow: hidden;
  margin-bottom: 0;
}

.item-title {
  margin: 0 auto;
  margin-bottom: 1.2rem;
  text-align: center;
}

.cars-item {
  display: flex;
  background-color: rgb(243, 243, 243);
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  justify-content: space-between;
  height: 8rem;
  border-radius: 7px;
  margin-bottom: 0.5rem;
}

.cars-item:hover {
  cursor: pointer;
  transform: scale(1.04);
  transition: all 0.5s;
}



.form-add-car{
  display: block;
  width: 50%;
  border: 1px black solid;
  margin: 0 auto;
  margin-top: 2rem;
  background-color:rgb(235, 235, 235) ;
}


.input-model{
  margin-top:1rem ;
}


.input-model label{
  margin-right:0.5rem ;

}

.input-color{
  margin-top: 1rem;
}

.input-color select{
  padding: 5px;
  outline: solid 1px rgb(200, 200, 200);
  border: rgb(230, 230, 230) solid 1px;
  border-radius: 4px;
}

.input-model input{
   outline:solid 1px rgb(200, 200, 200);
  padding: 5px;
  border: rgb(230, 230, 230) solid 1px;
  border-radius: 4px;

}

.input-company input{
  outline:solid 1px rgb(200, 200, 200);

  padding: 5px;
  border: rgb(230, 230, 230) solid 1px;
  border-radius: 4px;

}

.input-company label{
  margin-right:0.5rem ;
}

.input-company{
  margin-top: 1rem;
}

.item-content {
  display: block;
  margin: auto;
  width: 100%;
}

.item-marks {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  align-items: end;
  justify-content: center;
  font-size: 14px;
  gap: 1.5rem;
  margin: auto;
}

.item-marks span {
  background-color: rgb(212, 209, 209);
  font-weight: 600;
  padding: 6px;
  border-radius: 4px;
  width: auto;
  font-size: smaller;
  white-space: nowrap;

  height: 1rem;
}

.item-image img {
  position: relative;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.cars-list {
  width: 90%;
  height: 30rem;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.3rem;
  border-radius: 15px;
  background-color: rgb(235, 235, 235);
}
