body {
  width: 100vw;
  font-family: sans-serif;
}



input,
select {
  outline: solid 1px rgb(200, 200, 200);
  padding: 5px;
  border: rgb(230, 230, 230) solid 1px;
  border-radius: 4px;
  margin-left: 0.5rem;
  white-space: nowrap;
  width: 50%;
}

select {
  cursor: pointer;
}

form div {
  display: flex;
  margin-top: 2rem;
}

label {
  white-space: nowrap;
}

::-webkit-scrollbar {
  display: none;
}

.card-image {
  border-radius: inherit;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}

.card-model {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 0.5rem;
}

.card-title span {
  font-weight: 200;
  margin: 0 auto;
  padding: 4px;
  width: auto;
}

.card-marks {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  list-style-type: none;
  margin: 0 auto;
  position: relative;
  padding: 0.5rem;
  margin-top: 2rem;
}

.card-description {
  padding: 1rem;
  box-shadow: 1px 1px rgb(190, 190, 190);
  margin-top: 1rem;
  border-radius: 5px;
}

.card-marks li {
  text-shadow: 2px 2px rgb(190, 190, 190);
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 1px 1px rgb(190, 190, 190);
  border-bottom: solid 1px rgb(190, 190, 190);
}

.card-description p {
  line-height: 1.5rem;
}

.card-title {
  text-align: center;
  display: block;
  margin: 0 auto;
}
/* 
.card-wrapper button{
  margin: auto;
  top: auto;
  width: auto;
  margin-bottom: 1rem;
  left: auto;
  right: auto;
  bottom: auto;
  position:absolute;
  align-items: center;
} */

.card-wrapper {
  width: 60%;
  margin: auto;
  position: relative;
}

.btn-phone-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5rem;

  text-align: center;
  align-items: center;
}

.btn-phone-wrapper .contact-button:hover {
  background-color: #00ff40;
  cursor: pointer;
}

.btn-phone-wrapper .contact-button {
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 30%;
  display: flex;

  margin: auto;

  bottom: 3px;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 10px;
  border: 0;
  background-color: #4cbb17;
}

.close-button img {
  width: 1.5rem;
}

.close-button:hover {
  cursor: pointer;
  background-color: #ff004f;
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  position: absolute;
  margin-left: 2rem;
  right: 1%;
  bottom: 0.7%;
  border-radius: 7px;
  border: 0;
  background-color: #cf1020;
  margin: auto;
  width: 20%;
}

.btn-content text {
  margin-top: 2px;
  font-weight: 600;
  font-size: 12px;
}

.btn-phone-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.btn-content {
  display: flex;
  justify-content: center;
}

.phone-icon {
  margin: auto;
  width: 1.1rem;
  margin-right: 2px;
  padding: 0;
  margin-bottom: 1px;
}

.btn-phone {
  display: flex;
  background-color: rebeccapurple;
  justify-content: center;
  width: 100%;
  position: absolute;
  margin: auto;
}

.car-card {
  border-radius: 7px;
  position: relative;
  width: 100%;

  overflow-y: scroll;
  height: 30rem;
  margin: auto;
  background-color: rgb(235, 235, 235);
}

.card-content {
  padding: 1rem;
}

.card-image img {
  width: 100%;
  overflow: hidden;
}

.mini-carland {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.item-model {
  margin: 0 auto;
}

.item-image {
  width: fit-content;
  border-radius: inherit;
  overflow: hidden;
  margin-bottom: 0;

}

.item-image img {
  position: relative;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  margin: auto;
}


.item-title {
  margin: 0 auto;
  margin-bottom: 1.2rem;
  text-align: center;
}

.cars-item {
  display: flex;
  background-color: rgb(243, 243, 243);
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  justify-content: space-between;
  height: 8rem;
  border-radius: 7px;
  margin-bottom: 0.5rem;
}

.cars-item:hover {
  cursor: pointer;
  transform: scale(0.95);
  transition: all 0.5s;
}

.form-buttons {
  margin-top:0.5rem;
  display: flex;
  justify-content: space-between;
}


.info-title{
  white-space: nowrap;
}

.form-submit-btn {
  width:fit-content;

  padding: 8px;
  border-radius: 4px;
  margin-top: 2rem;
  background-color:#00BFFF;
  border: 0;
}


.form-submit-btn:hover {
  background-color: #87CEFA;
  cursor: pointer;
  transform: scale(0.9);
  transition: all 0.2s;
}


.form-close-btn {
  padding: 8px;
  padding-left:15px;
  padding-right: 15px;
  border-radius: 4px;
  margin-top: 2rem;
  background-color:#cf1020;
  border: 0;

}
.form-close-btn:hover {
  background-color:#ff004f;
  cursor: pointer;
  transform: scale(0.9);
  transition: all 0.2s;
}

.form-close-btn img {
  
  height: 1.2rem;

}

.form-add-car {

  overflow: scroll;
  display: block;
  width: 60%;
  height: 30rem;
  padding: 1rem;
  border-radius: 7px;
  margin: 0 auto;
  margin-top: 1rem;
  margin-right: 2rem;
  padding-top: 0;
  background-color: rgb(235, 235, 235);
}

.input-price {
  text-align: center;
  margin: auto;
  display: flex;
  margin-top: 1.5rem;
}

.input-image {
  margin-top: 1.5rem;
}

.input-image input {
  cursor: pointer;
  width: 21%;
  border: 0px;
}

::file-selector-button{
  background-color: white;
  border: 0;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 7px;
  width: 100%;

}

.input-madein {
  margin-top: 1.5rem;
  display: flex;
  white-space: nowrap;
}

.input-description {
  text-align: start;
  white-space: nowrap;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.input-description textarea {
  width: 50%;
  outline: solid 1px rgb(200, 200, 200);
  padding: 5px;
  border: rgb(230, 230, 230) solid 1px;
  border-radius: 4px;
  margin-left: 0.5rem;

  height: 5rem;
}

.input-price label {
  white-space: nowrap;
}
.input-price input {
  outline: solid 1px rgb(200, 200, 200);
  padding: 5px;
  border: rgb(230, 230, 230) solid 1px;
  border-radius: 4px;
  margin-left: 0.5rem;
}

.input-model {
  text-align: center;
  width: 100%;
  margin: auto;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.input-color {
  display: flex;
  text-align: center;
  margin: auto;
  margin-top: 1.5rem;
}

.input-color label {
  white-space: nowrap;
}

.input-color select {
  margin-left: 0.5rem;
  padding: 5px;
  outline: solid 1px rgb(200, 200, 200);
  border: rgb(230, 230, 230) solid 1px;
  border-radius: 4px;
}

.input-model label {
  margin-right: 0.5rem;
  white-space: nowrap;
}

.input-model input {
  outline: solid 1px rgb(200, 200, 200);
  padding: 5px;
  border: rgb(230, 230, 230) solid 1px;
  border-radius: 4px;
}

.input-company label {
  white-space: nowrap;
}

.input-company input {
  outline: solid 1px rgb(200, 200, 200);

  padding: 5px;
  border: rgb(230, 230, 230) solid 1px;
  border-radius: 4px;
}

.input-company label {
  white-space: nowrap;
  margin-right: 0.5rem;
}

.input-company {
  text-align: center;
  display: flex;
  margin-top: 1.5rem;
  margin: auto;
}



.item-content {
  display: block;
  margin: auto;
  width: fit-content;
}

.item-marks {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  align-items: end;
  justify-content: center;
  font-size: 14px;
  gap: 1.5rem;
  margin: auto;
}

.item-marks span {
  background-color: rgb(212, 209, 209);
  font-weight: 600;
  padding: 6px;
  border-radius: 4px;
  width: auto;
  font-size: smaller;
  white-space: nowrap;

  height: 1rem;
}


.cars-list {
  width: 100%;
  height: 30rem;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.3rem;
  border-radius: 15px;
  background-color: rgb(235, 235, 235);
}

.media-list li {
  margin-bottom: 1.6rem;
  list-style-type: none;
  display: grid;
  font: size 3vw;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}

.info-close-wrapper {
  display: flex;
  width: 103%;
  justify-content: end;
}

.info-close-wrapper img:hover {
  cursor: pointer;
  transform: scale(0.8);
  transition: all 0.2s;
}

.info-close-wrapper img {
  width: 1.5rem;
  margin-top: 7px;
  margin-right: 0;
}

.seller-info-content {
  margin: auto;
}
.media-list {
  margin: auto;
}

.info-title img {
  width: 1.3rem;
  margin-right: 0.5rem;
}

.info-title {
  text-align: center;
  align-items: center;

  display: flex;
}

.seller-name-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 0;
  margin-bottom: 0.5rem;
  justify-content: center;
}

.seller-info {
  box-shadow: 6.8px 13.6px 13.6px hsl(0deg 0% 0% / 0.29);
  border-radius: 8px;

  padding: 1rem;
  padding-top: 0;
  height: 15rem;
  background-color: rgb(200, 200, 200);
  margin: auto;
  position: absolute;
  left: 0;
  top: 40%;
  bottom: 50%;
  right: 0;
  margin-inline: auto;
  width: fit-content;
}

.car-image-wrapper {
  background: linear-gradient(
    135deg,
    rgba(270, 270, 270, 0.1),
    rgba(270, 270, 270, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* border:solid 1px rgba(255,255,255,0.18) ; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  position: absolute;
}

.btn-wrapper {
  display: flex;
}

.btn-wrapper span {
  position: absolute;
  right: -6%;
  cursor: pointer;
  top: -8%;
}

.btn-wrapper span:hover {
  transform: scale(0.8);
  transition: transform 0.2s;
}

.zoom-btn-wrapper {
  position: absolute;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: 100;
}

.zoom-btn-wrapper .zoom-out-btn {
  background: white;
  margin-top: 2.5rem;
  padding: 5px;
  cursor: pointer;
}
.zoom-btn-wrapper .zoom-in-btn {
  background: white;
  padding: 5px;
  cursor: pointer;
}

.zoom-btn-wrapper .zoom-in-btn:hover {
  transform: scale(0.8);
  transition: transform 0.2s;
}

.zoom-btn-wrapper .zoom-out-btn:hover {
  transform: scale(0.8);
  transition: transform 0.2s;
}
.zoom-btn-wrapper .zoom-reset-btn:hover {
  transform: scale(0.8);
  transition: transform 0.2s;
}

.zoom-btn-wrapper .zoom-reset-btn {
  background: white;
  padding: 5px;
  cursor: pointer;
  margin-top: 2px;
}
.car-image-container {
  height: 30rem;
  margin: auto;
  position: relative;
  margin-top: 5rem;
  width: 50%;
  max-width: 50%;
}

.car-image {
  position: relative;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  box-shadow: 6.8px 13.6px 13.6px hsl(0deg 0% 0% / 0.29);
  overflow: hidden;
}

.car-image {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.car-image:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.sell-car-btn-wrapper {
  position: relative;
  width: 100%;
  display: flex;
}

.sell-car-btn {
  position: absolute;

  bottom: 20px;
  right: 1%;
  width: 30%;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00BFFF;
  border: 0;

  height: 2rem;
}


.sell-car-btn:hover{
  transform: scale(0.9);
  cursor: pointer;
  background-color: #87CEFA;
  transition: all 0.3s;
}